.ruby-version
.DS_Store
log
log/*.log
log/export/*.html
log/*.pid
log/error_pages/some-domain.ru/*/*.html
log/indexation/*.*
log/pgq
tmp/**/*
doc/report/**/*
doc/report/*
tmp/*
config/database.yml
config/database.yml~
config/mongrel.yml
config/memcached.yml
config/fake_users.yml
config/config.yml
config/newrelic.yml
config/sharder.yml
db/sharder_*.tch
db/schema.rb
linkfeed.db/*
locks/*
nbproject
tags
.tmp_*
.project
coverage
vendor/plugins/footnotes
.idea/**/*
.idea/*
config/pgq_tickers/test*.ini
config/pgq_tickers/development*.ini
config/pgq_tickers/londiste_development*.ini
public/docs
*~
public/cache/*
promo/.idea/*
.tmp_*
.project
.idea/**/*
.idea/*
*~
.idea
.rakeTasks
*.iml
*.pid
database.yml
*.auth
ContryClient/src/farm/item
ContryClient/src/city/item
ContryClient/src/energy/item/ItemsData.as
ContryClient/src/common/item
ContryClient/items/ItemsConfig.as
ContryClient/assets/ItemsConfig.swf
schema.rb
vk_api_conf.yml
game_config.yml
graph_html.html
app.swf
app-city.swf
app-farm.swf
GiftSplash.swf
FixtureObjectMovies.as
.generators
.rakeTasks
config/disabled_shards.txt
ContryClient/src/common/quest/Quests.as
ContryClient/src/energy/quest/*
database.yml.for_reload
ContryClient/src/city/quest/*
ContryClient/src/farm/quest/*
ContryClient/assets/*statics_0.zip
ContryClient/assets/*statics_1.zip
ContryClient/assets/hosted_files
ContryClient/assets/staticslist
hosted_files
ContryClient/assets/top/*.xml
ContryServer/spec/support/temp/*.xml
ContryClient/assets/iframe/app_*.html
hosted_files
ContryClient/assets/top/*.xml
ContryServer/spec/support/temp/*.xml
ContryAdmin/shared/*
ContryAdmin/spec/support/banners/prod/*.yml
ContryAdmin/spec/support/banners/prod/json/*
ContryAdmin/spec/support/banners/prod/images/*.jpg
ContryAdmin/spec/support/banners/prod/images/*.png
ContryAdmin/spec/support/repository/*.yml
ContryAdmin/spec/support/repository/images/*.jpg
ContryAdmin/spec/support/repository/images/*.png
ContryClient/assets/i18n/*
ContryServer/config/i18n/*
ContryServer/config/secret.yml
ContryClient/src/generated/*
ContryClient/src/energy/filters/FilterWrappersGenerated.as
ContryServer/config/items/energy/collections.yml
ContryClient/assets/iframe/ad_redir.html
pmip/*
.rvmrc